button{
  all: unset;
}

.Box{
  display: flex;
  align-items: center;

}


.CheckboxRoot {
  position: relative;
  z-index: 0;

  display: flex;
  align-items: start;
  justify-content: center;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  border: 2px solid white;
  border-radius: 4px;
}

.CheckboxRoot::before {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: scale(0); /* Сделаем его невидимым по умолчанию */

  width: 36px;
  height: 36px;

  background-color: var(--color-dark-500);
  border-radius: 50%;

  transition: transform 0.2s ease-in-out; /* Анимация появления */
}

.CheckboxRoot:hover::before {
  transform: scale(1); /* При наведении показываем круг */
}

//.CheckboxRoot:hover::after{
//  content: '';
//
//  width: 100%;
//  height: 100%;
//
//  border: 2px solid white;
//  border-radius: 4px;
//}

.CheckboxIndicator {
  position: relative;
  color: var(--color-light-100);
}


.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}