.loginForm{
 display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFieldSet{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.textField{
  color: black;
}