.Root{
  border-collapse: collapse;
  width: 1006px;
  margin: 0 auto;
  border: 1px solid var(--color-dark-500);
}

@mixin cell-style() {
  padding: 6px 8px 6px 24px;
  text-align: left;
  border-bottom: 1px solid var(--color-dark-500);
}

.HeadCell,.Cell{
  @include cell-style;
}

.HeadCell{
  background-color: var(--color-dark-500);
}

.Last{
  @include cell-style;

  padding: 5px 0 0;
  color: var(--color-accent-900);
  text-align: center;
  vertical-align: middle;
}
